# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.env.*
!.env.example
env/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Django
*.log
*.pot
db.sqlite3
staticfiles/
media/
logs/

# Frontend / tooling
node_modules/

# others
wf.pdf
